*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
}

/* Imagen logo */
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

/* div contenedor */
.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* TextArea encriptar */
.textarea{
    height: 440px;
    border: none;
    color: #0a3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
    margin-bottom: 0;
    resize: none;
}
::placeholder{
    color: #0a387142;
}
.textarea:focus{
    outline: none;
}

/* Reglas de escritura */
.informacion{
    color: #495057;
    font-size: 15px;
    margin-bottom:0;
    margin-top: 0;
}
.informacion::before{
    content: "";
}

/* Botones */
.botones{
    display: flex;
    margin-top: 10px;
}

/* Bot贸n encriptar */
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 13px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 200px;
    font-size: 25px;
}
.btn-encriptar:hover{
    background: #0A3871;
    transform: scale(1.20)
}

/* Bot贸n desencriptar */
.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 13px;
    color: #0A3871;
    cursor: pointer;
    height: 40px;
    width: 200px;
    font-size: 25px;
    margin-left: 30px;
}
.btn-desencriptar:hover{
    background: #D8DFE8;
    transform: scale(1.20)
}

/* Secci贸n desencriptar */
.contenedorMensaje{
    width: 35%;
    margin-left: auto;
    background-color: white;
    border-radius: 24px;
    box-shadow: 10px 6px 30px 0px rgba(0,0,0,0.75);
}
.informacion2{
    border-radius: 24px;
    background-color: white;
}

/* TextArea desencriptar */
.mensaje{
    margin-top: 30px;
    width: 99%;
    height: 374px;
    background-color: white;
    background-image: url(imagenes/Mu帽eco.png);
    background-position:center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    color: #0A3871;
    margin-bottom: 0;
    resize: none;
    text-align: center;
}
.mensaje:focus{
    outline: none;
}

.parrafos{
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
}

#h3{
    background-color: white;
    width: 65%;
    margin: auto ;
    margin-top: 0px ;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #0A3871;
}

#p{
    background-color: white;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #0a3871d7;
}

/* Bot贸n copiar */
.copiar{
    margin-top: 10px;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 0;
    background-color: #0A3871;
    border-radius: 13px;
    border: 1px solid #0A3871;
    color: white;
    height: 40px;
    width: 56%;
    font-size: 20px;
    position: static;
    left: 61.5%;
    top: 85%;
    display: none;
}
.copiar:hover{
    background: #0A3871;
    transform: scale(1.20)
}

/* Footer seccion */
.copyright {
    width: 100%;
    text-align: center;
    color: #0A3871;
    font-size: 15px;
    bottom: 0px;
}






/* Responsive design mobile */
@media screen and (max-width:480px){

    *{
        background: #F3F5FC;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 32px;
        margin: 0;
        padding: 0;
    }

    .logo{
        padding-top: 20px;
        margin-left: 0px;
        width: 30%;
    }

    .contenedor{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }

    .textarea{
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        border: none;
        color: #0a3871;
        margin-top: 30px;
        padding: 2px;
        text-transform: lowercase;
        margin-bottom: 0;
    }
    ::placeholder{
        color: #0a387142;
    }
    .textarea:focus{
        outline: none;
    }

    .informacion{
        color: #495057;
        font-size: 15px;
        padding-left: 10%;
        margin-bottom:0;
        margin-top: 0;
    }

    .informacion::before{
        content: "";
    }

    .botones{
        display: block;
        margin-top: 10px;
    }

    .btn-encriptar{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
    }

    .btn-desencriptar{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .contenedorMensaje{
        height: 100px;
        margin-left: auto;
        background-color: red;
        border-radius: none;
        box-shadow: 10px 6px 30px 0px rgba(0,0,0,0.75);
    }

    .informacion2{
        background-color: white;
        top: 50px;
        width: 80%;
        margin: 30px 10% ;
        border-radius: 24px;
        padding-bottom: 20px;
    }

    .mensaje{
        width: 100%;
        border-radius: 0;
    }
    .parrafos{
        background: white;
        margin-bottom: 20px;
    }

    #h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    #p{
        font-size: 15px;
    }

    .copiar{
        background-color: #0A3871;
        border-radius: 13px;
        border: 1px solid #0A3871;
        color: white;
        font-size: 22px;
        height: 40px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        position: static;
    }
    
}







/* Responsive design tablet */
@media screen and (min-width:481px) and (max-width:1023px){

    *{
        background: #F3F5FC;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 32px;
        margin: 0;
        padding: 0;
    }

    .logo{
        padding-top: 20px;
        margin-left: 0px;
        width: 20%;
    }

    .contenedor{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }

    .textarea{
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        border: none;
        color: #0a3871;
        margin-top: 30px;
        padding: 2px;
        text-transform: lowercase;
        margin-bottom: 0;
    }
    ::placeholder{
        color: #0a387142;
    }
    .textarea:focus{
        outline: none;
    }

    .informacion{
        color: #495057;
        font-size: 18px;
        padding-left: 5%;
        margin-bottom:0;
        margin-top: 0;
    }

    .informacion::before{
        content: "";
    }

    .botones{
        margin-top: 10px;
        width: 100%;
    }

    .btn-encriptar{
        width: 40%;
        height: 55px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
    }

    .btn-desencriptar{
        width: 40%;
        height: 55px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contenedorMensaje{
        height: 100px;
        margin-left: auto;
        background-color: red;
        border-radius: none;
        box-shadow: 10px 6px 30px 0px rgba(0,0,0,0.75);
    }

    .informacion2{
        background-color: white;
        top: 50px;
        width: 80%;
        margin: 30px 10% ;
        border-radius: 24px;
        padding-bottom: 20px;
    }

    .mensaje{
        width: 100%;
        border-radius: 0;
    }
    .parrafos{
        background: white;
        margin-bottom: 20px;
    }

    #h3{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    #p{
        font-size: 20px;
    }

    .copiar{
        background-color: #0A3871;
        border-radius: 13px;
        border: 1px solid #0A3871;
        color: white;
        font-size: 22px;
        height: 55px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        position: static;
    }
    
}